@use 'variables' as *;

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($primary-light, 1);
  }

  70% {
    box-shadow: 0 0 0 1.5rem rgba($primary-light, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($primary-light, 0);
  }
}

@keyframes loader-left {
  0% {
  }

  50% {
    transform: rotate(-90deg) translatey(-2rem);
  }
}

@keyframes loader-right {
  0% {
  }

  50% {
    transform: rotate(90deg) translatey(-2rem);
  }
}

@keyframes loader-center {
  0% {
  }

  50% {
    font-size: 3rem;
  }
}
