@use 'variables' as *;

.body-flex {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .home__footer {
    width: 100%;
    padding: 1.5rem;
    margin-top: auto;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

    &--link {
      text-transform: uppercase;
      font-style: oblique;
      font-size: 1rem;
    }
  }
}

.back-to-top {
  width: 5rem;
  height: 5rem;

  position: fixed;
  bottom: 4rem;
  left: 4rem;

  border-radius: 50%;
  box-shadow: 2px 2px 10px 2px rgba($shadow, 0.3);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.3s;

  &:focus,
  &:active {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  .material-icons-round {
    font-size: 2.5rem;
  }
}

.home__header-container {
  width: 100%;
}

.home__header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 15px 2px rgba($shadow, 0.3);

  &--logo {
    width: fit-content;
    padding: 1rem;
    position: relative;
    font-weight: 600;

    .head__span {
      font-size: 2.5rem;
      &--1 {
        text-transform: uppercase;
        font-size: 4rem;
        font-style: oblique;
        letter-spacing: -0.2rem;
      }
    }

    .arrow {
      position: absolute;
      right: 10.2rem;

      &__left {
        top: 0.7rem;
      }

      &__right {
        bottom: 0.2rem;
      }
    }
  }
}

// Main content container
.home {
  margin: 4rem 2rem;
  padding: 2rem 0;
  max-width: 100rem;
  border-radius: 1rem;

  // Layered box-shadow to create smooth effect
  box-shadow: 0px 0px 1px rgba($shadow, 0.25);
  box-shadow: 1px 1px 2px rgba($shadow, 0.25);
  box-shadow: 2px 2px 4px rgba($shadow, 0.25);
  box-shadow: 4px 4px 8px rgba($shadow, 0.25);
  box-shadow: 8px 8px 16px rgba($shadow, 0.25);

  &__welcome-logout {
    // Display flex when visible, otherwise none.
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    display: none;
    margin: 0 2rem 2rem;

    &--text {
      font-size: 2rem;
    }

    .welcome {
      font-weight: 600;
    }

    &--link {
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      border-radius: 0.5rem;
      box-shadow: 0px 5px 6px 0px rgba($shadow, 0.3);
      transition: background-color 0.5s, transform 0s;

      &:active,
      &:focus {
        transform: translateY(3px);
        box-shadow: none;
      }
    }
  }

  &__welcome-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 1rem;
    font-size: 1.4rem;

    label {
      line-height: 3rem;
      margin-right: 1rem;
    }
    &--text {
      color: $text-dark;
    }
  }

  .login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    //display: none;

    &__user,
    &__pass {
      margin-top: 0.3rem;
      margin-right: 2rem;
      padding: 0.7rem;
      outline: none;
      border: none;
      border-radius: 0.8rem;
      box-shadow: inset 2px 2px 6px 0 rgba($shadow, 0.3);

      &:focus {
        box-shadow: inset 0 0 3px 3px $primary-light;
      }
    }

    &__button {
      font-size: 1.3rem;
      padding: 0.7rem 1rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0px 5px 6px 0px rgba($shadow, 0.3);
      transition: background-color 0.5s, transform 0s;
      cursor: pointer;

      &:active {
        transform: translateY(3px);
        box-shadow: none;
      }
    }
    &__p {
      font-size: 1.2rem;
      text-align: center;
      margin: 0 2rem 2rem;
    }

    &__register {
      text-decoration: none;
      font-weight: 600;
      padding-bottom: 2px;
      transition: 0.3s;

      &:hover {
        font-weight: 600;
      }
    }
  }

  hr {
    height: 2px;
    margin: 0 2rem 2rem;
    box-shadow: 0px 6px 12px 0px rgba($shadow, 0.3);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &__nav {
    height: 100%;
    width: 100%;
    border-right: 2px groove;
    font-size: 1.4rem;
    padding-left: 1px;

    &--header {
      padding: 0.6rem 0rem 0.2rem;
      margin: -0.2rem 1rem 0;
      text-align: left;
      font-size: 1.6rem;
      border-bottom: 2px solid;
      font-weight: 700;
    }
  }

  .nav-list {
    margin-top: 1rem;
    overflow: hidden;
    margin-right: 1px;
    &__item {
      text-decoration: none;
      display: block;
      width: 100%;
      overflow: hidden;
      padding: 0.5rem 0 0.5rem 0.8rem;
      margin-left: 1px;
      margin-bottom: 2px;

      background-image: linear-gradient(
        to right,
        transparent 50%,
        $primary-light 50%
      );
      background-size: 300% 200%;
      background-position: 300% 0%;

      transition: all 0.3s ease-in;

      &:hover,
      &:focus {
        background-position: 251% 0;

        &::after {
          content: '\2192';
          margin-left: 0.5rem;
        }
      }
    }
  }

  &__main-content {
    margin-right: 1rem;
    margin-left: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    line-height: 2rem;

    &--header {
      padding-bottom: 0.2rem;
      margin-right: 40%;
      margin-top: 2px;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 700;
    }

    &--text {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  }
}

.home {
  .short-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    label {
      display: block;
      font-size: 1.4rem;
      margin-bottom: 0.1rem;
      margin-right: 0.5rem;
      font-weight: bold;
      margin-left: 0.8rem;
    }
  }

  // Origin URL input/button
  .form-icons {
    font-size: 2.3rem;
  }

  .label {
    display: block;
  }

  &__short-form--origin-container {
    display: flex;
    margin-bottom: 4rem;
    height: 2.8rem;
  }

  &__short-form--origin {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    margin-right: 0.6rem;
    width: 25rem;
    height: 100%;
    font-size: 1.2rem;

    border: none;
    border-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;

    outline: none;
    box-shadow: inset 2px 2px 6px 0 rgba($shadow, 0.3);

    &:focus {
      box-shadow: inset 0px 0 3px 3px $primary-light;
    }
  }

  // Shortened URL input/button
  &__short-form--short-container {
    display: flex;
    height: 2.8rem;
    flex-direction: row;
  }

  &__short-form--short {
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 0.6rem;
    width: 25rem;
    height: 100%;
    font-size: 1.2rem;

    border: none;
    border-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;

    box-shadow: inset 2px 2px 6px 0 rgba($shadow, 0.3);
  }

  &__short-form--button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 4rem;

    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    box-shadow: 2px 4px 6px 0px rgba($shadow, 0.3);
    transition: background-color 0.5s, transform 0s;

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}

//
//
//
//
// ------- Light Mode -------
@media (prefers-color-scheme: light) {
  .body-flex {
    background: url(/img/wave-haikei.svg) no-repeat center center fixed;
    background-size: cover;

    .home__footer {
      background-color: $gray-light;
      color: $primary-light;

      &--link {
        color: $text-dark;
      }
    }
  }

  .back-to-top {
    background-color: $primary-light;

    .material-icons-round {
      color: $text-light;
    }

    &:hover {
      background-color: $gray-dark;

      .material-icons-round {
        color: $text-light;
      }
    }
  }

  .home__header {
    background-color: $gray-light;

    &--logo {
      color: $text-dark;

      .head__span {
        &--1 {
          color: $primary-light;
        }
      }

      .arrow {
        color: $text-dark;
      }
    }
  }

  // Main content container
  .home {
    background-color: $gray-light;

    // Layered box-shadow to create smooth effect
    box-shadow: 0px 0px 1px rgba($shadow, 0.25);
    box-shadow: 1px 1px 2px rgba($shadow, 0.25);
    box-shadow: 2px 2px 4px rgba($shadow, 0.25);
    box-shadow: 4px 4px 8px rgba($shadow, 0.25);
    box-shadow: 8px 8px 16px rgba($shadow, 0.25);

    &__welcome-logout {
      .welcome {
        color: $primary-light;

        &--text {
          color: $text-dark;
        }
      }

      &--link {
        color: $text-light;
        background-color: $gray-dark;

        &:hover {
          background-color: $primary-light;
        }

        &:active,
        &:focus {
          background-color: $primary-light;
        }
      }
    }

    .login-form {
      &__user,
      &__pass {
        background-color: $gray-light2;
      }

      &__button {
        color: $text-light;
        background-color: $gray-dark;

        &:hover {
          background-color: $primary-light;
        }

        &:active {
          background-color: $primary-light;
        }
      }
      &__p {
        color: $text-dark;
      }

      &__register {
        color: $text-dark;
        border-bottom: 2px solid $primary-light;

        &:hover {
          color: $primary-light;
        }
      }
    }

    &__nav {
      &--header {
        color: $text-dark;
        border-color: $primary-light;
      }
    }

    .nav-list {
      &__item {
        color: $text-dark;
        box-shadow: inset 2px 0 1px 1px $gray-light;

        background-image: linear-gradient(
          to right,
          transparent 50%,
          $primary-light 50%
        );

        &:hover,
        &:focus {
          color: $text-light;
        }
      }
    }

    &__main-content {
      &--header {
        border-bottom: 2px solid $primary-light;
        color: $text-dark;
      }
    }
  }

  .home {
    .label {
      color: $text-dark;
    }

    &__short-form--origin {
      background-color: $gray-light2;
    }

    &__short-form--short {
      background-color: $gray-med2;
    }

    &__short-form--button {
      background-color: $gray-dark;
      color: $text-light;

      &:hover {
        background-color: $primary-light;
        color: $text-dark;
      }

      &:active {
        background-color: $primary-light;
      }
    }
  }
}

//
//
//
//
// ------- Dark Mode ------
@media (prefers-color-scheme: dark) {
  .body-flex {
    background: url(/img/wave-haikei-large-dark.svg) no-repeat center center
      fixed;
    background-size: cover;

    .home__footer {
      background-color: $primary-dark;
      color: $text-med;

      &--link {
        color: $secondary-dark;
      }
    }
  }

  .back-to-top {
    background-color: $primary-light;

    .material-icons-round {
      color: $text-light;
    }

    &:hover {
      background-color: $gray-med2;

      .material-icons-round {
        color: $text-dark;
      }
    }
  }

  .home__header {
    background-color: $primary-dark;

    &--logo {
      color: $text-med;

      .head__span {
        &--1 {
          color: $secondary-dark;
        }
      }

      .arrow {
        color: $secondary-dark;
      }
    }
  }

  // Main content container
  .home {
    background-color: $gray-dark;
    box-shadow: none;

    &__hr {
      border-color: $text-dark;
    }

    &__welcome-logout {
      &--text {
        color: $text-med;
      }
      .welcome {
        color: $secondary-dark;
      }

      &--link {
        color: $text-dark;
        background-color: $secondary-dark;

        &:hover {
          background-color: $gray-med2;
        }

        &:active,
        &:focus {
          background-color: $secondary-dark;
        }
      }
    }

    .login-form {
      label {
        color: $text-med;
      }
      &__user,
      &__pass {
        background-color: $gray-med2;
      }

      &__button {
        color: $text-dark;
        background-color: $secondary-dark;

        &:hover {
          background-color: $gray-med2;
        }

        &:active {
          background-color: $secondary-dark;
        }
      }
      &__p {
        color: $text-med;
      }

      &__register {
        color: $secondary-dark;
        border-bottom: 2px solid $text-med;

        &:hover {
          color: $text-med;
          border-color: $secondary-dark;
        }
      }
    }

    &__nav {
      border-color: rgb(83, 82, 82);

      &--header {
        color: $text-med;
        border-color: $secondary-dark;
      }
    }

    .nav-list {
      &__item {
        color: $text-med;
        box-shadow: inset 2px 0 1px 1px $gray-dark;

        background-image: linear-gradient(
          to right,
          transparent 50%,
          $secondary-dark 50%
        );

        &:hover,
        &:focus {
          color: $text-light;
        }
      }
    }

    &__main-content {
      &--header {
        color: $text-med;
        border-bottom: 2px solid $secondary-dark;
      }

      &--text {
        color: $text-med;
      }
    }
  }

  .home {
    .label {
      color: $text-med;
    }

    &__short-form--origin {
      background-color: $gray-med2;
      color: $text-dark;
    }

    &__short-form--short {
      background-color: #7a7a7a;
      color: $text-med;
    }

    &__short-form--button {
      background-color: $secondary-dark;
      color: $text-light;

      &:hover {
        background-color: $gray-med2;
        color: $text-dark;
      }

      &:active {
        background-color: $secondary-dark;
      }
    }
  }
}
