@use 'variables' as *;

html {
  width: 100%;
  height: 100%;
}

.material-icons-round {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.merge {
  font-size: 2.4rem;
}

.loader-container-popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($shadow, 0.8);
  color: $primary-light;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  display: none;

  .load {
    font-size: 4rem;
  }

  .load-left {
    transform: rotate(-90deg);
    animation: loader-left 3s ease-in-out infinite;
  }

  .load-center {
    font-size: 2rem;
    color: $text-light;
    animation: loader-center 3s ease-in-out infinite;
  }

  .load-right {
    transform: rotate(90deg);
    animation: loader-right 3s ease-in-out infinite;
  }
}

.success-container-popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($shadow, 0.8);
  color: $primary-light;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  animation: background-hidden 0s ease 5s forwards;
  //display: none;

  .success-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $text-dark;
    background-color: #7dfa7d;
    width: 16rem;

    border-radius: 1rem;
    padding: 1rem;

    opacity: 0;
    animation: slide-in 5s;

    .success-header {
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
    }

    .success-check {
      font-size: 4rem;
      margin: 1rem 0;
    }

    .success-message {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.fail-container-popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($shadow, 0.8);
  color: $primary-light;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  animation: background-hidden 0s ease 5s forwards;
  display: none;

  .fail-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $text-dark;
    background-color: #f15c5c;
    width: 16rem;

    border-radius: 1rem;
    padding: 1rem;

    opacity: 0;
    animation: slide-in 5s;

    .fail-header {
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
    }

    .fail-x {
      font-size: 4rem;
      margin: 1rem 0;
    }

    .fail-message {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.popup {
  width: 30rem;
  position: relative;

  header {
    position: relative;
  }

  .popup-settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    z-index: 3;
    cursor: pointer;

    .options-link {
      text-decoration: none;
      transition: all 0.3s;
    }
  }

  &__header {
    text-align: center;
    padding: 1rem 0;
    font-weight: 600;
    background-color: $secondary-light;
    box-shadow: 0 -2px 15px 2px rgba($shadow, 0.3);
    clip-path: inset(0 0 -100px 0);

    .head__span {
      color: $text-dark;
      &--1 {
        text-transform: uppercase;
        color: $primary-light;
        font-size: 3rem;
        font-style: oblique;
        letter-spacing: -0.2rem;
      }
    }

    .arrow {
      position: absolute;
      right: 13.9rem;
      color: $text-dark;

      &__left {
        top: 1rem;
      }

      &__right {
        bottom: 0.5rem;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.4rem;
    padding-bottom: 1.4rem;
    justify-content: center;

    &--header {
      color: $text-dark;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: bold;
      text-align: left;
      margin-left: 0.8rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    &--origin {
      display: flex;
      align-items: flex-end;
      margin-bottom: 4rem;
      height: 3rem;
    }

    &--short {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;
      height: 3rem;
    }
  }

  &__url {
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: rgba($white, 0.6);
    padding: 0.5rem;
    padding-left: 1rem;
    width: 100%;
    height: 100%;
    transition: all 0.2s;

    border: 0px;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &--short {
      box-sizing: border-box;
      font-size: 1.2rem;
      color: $text-light;
      background-color: rgba(138, 138, 138, 0.8);
      padding: 0.5rem;
      padding-left: 1rem;
      width: 100%;
      height: 100%;
      transition: all 0.2s;

      border: 0px;
      border-radius: 1rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      box-shadow: inset 2px 2px 6px 0 rgba($shadow, 0.3);
    }
    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 5rem;
    height: 100%;
    margin-left: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0 3px 8px 0 rgba($shadow, 0.3);
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    transition: background-color 0.2s;

    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__links {
    color: $text-light;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0 2rem;
    text-align: center;

    &--style {
      text-decoration: underline;
      color: $secondary-dark;
      font-weight: 700;

      &:hover,
      &:active,
      &:focus {
        color: $shadow;
      }
    }
  }
}

//
//
//
//
// <----------- LIGHT MODE COLORS ----------->
//
//
//
//
@media (prefers-color-scheme: light) {
  .popup {
    background-image: url(/img/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
    &__header {
      background-color: $secondary-light;

      .head__span {
        color: $text-dark;

        &--1 {
          color: $primary-light;
        }
      }

      .arrow {
        color: $text-dark;
      }
    }

    .popup-settings {
      .options-link {
        color: $text-dark;

        &:hover {
          color: $primary-light;
        }
      }
    }

    &__container {
      &--header {
        color: $text-dark;
      }
    }

    &__url {
      background-color: rgba($white, 0.6);
      box-shadow: inset 2px 2px 6px 0 rgba($shadow, 0.3);

      border: 1px solid $gray-med;

      &:focus {
        box-shadow: inset 0 0 2px 3px $primary-light;
      }
    }

    &__btn {
      background-color: $text-dark;
      box-shadow: 0 3px 8px 0 rgba($shadow, 0.3);

      p {
        color: $white;
      }

      &:hover {
        background-color: $primary-light;
      }

      &--short:hover,
      &--copy:hover {
        p {
          color: $text-dark;
        }
      }
    }

    &__links {
      color: $text-dark;

      &--style {
        color: $text-dark;

        &:hover,
        &:active,
        &:focus {
          color: $primary-light;
        }
      }
    }
  }
}

//
//
//
//
// <----------- DARK MODE COLORS ----------->
//
//
//
//
@media (prefers-color-scheme: dark) {
  .popup {
    background-image: url(/img/wave-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
    &__header {
      background-color: $primary-dark;

      .head__span {
        color: $text-med;

        &--1 {
          color: $secondary-dark;
        }
      }

      .arrow {
        color: $secondary-dark;
      }
    }

    .popup-settings {
      .options-link {
        color: $secondary-dark;

        &:hover {
          color: $gray-light2;
        }
      }
    }

    &__container {
      &--header {
        color: $text-med;
      }
    }

    &__url {
      background-color: rgba($white, 0.6);
      box-shadow: 0 1px 10px 0px rgba($shadow, 0.3);

      // border: 1px solid $gray-med;

      &:focus {
        box-shadow: 0 0 2px 3px $secondary-dark;
      }
    }

    &__btn {
      background-color: $secondary-dark;
      box-shadow: 0 3px 8px 0 rgba($shadow, 0.8);

      p {
        color: $text-light;
      }

      &:hover {
        background-color: $gray-light2;
      }

      &--short:hover,
      &--copy:hover {
        p {
          color: $text-dark;
        }
      }
    }

    &__links {
      color: $text-light;
      font-size: 1.2rem;
      margin: 1rem 0;
      padding: 0 2rem;
      text-align: center;

      &--style {
        text-decoration: underline;
        color: $secondary-dark;
        font-weight: 700;

        &:hover,
        &:active,
        &:focus {
          color: $shadow;
        }
      }
    }
  }
}
