@use 'variables' as *;

.reg {
  background: url(/img/wave-haikei-large.svg) no-repeat center top fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 15px 2px rgba($shadow, 0.3);
  width: 100%;
}

.reg-container {
  background-color: $gray-light;
  box-shadow: 0px 0px 1px rgba($shadow, 0.25);
  box-shadow: 1px 1px 2px rgba($shadow, 0.25);
  box-shadow: 2px 2px 4px rgba($shadow, 0.25);
  box-shadow: 4px 4px 8px rgba($shadow, 0.25);
  box-shadow: 8px 8px 16px rgba($shadow, 0.25);

  margin: 4rem 2rem;
  padding: 1.5rem 2rem 2rem;
  border-radius: 1rem;
  max-width: 40rem;
}

.reg__section {
  &--img-container {
    background: url(/img/header-img.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 3rem;
    filter: drop-shadow(5px 10px 12px rgba($shadow, 0.3));
  }

  &--header {
    color: $text-light;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;

    transform: translate(-0.5rem, 0) rotate(2deg);
  }
}

.reg__section--article {
  font-size: 1.5rem;
  color: $text-dark;
  margin-bottom: 4rem;
  padding: 0 2rem;
  text-align: center;
}

.reg__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;

  font-size: 1.3rem;

  &--label {
    text-align: left;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  &--input {
    border: none;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
    outline: none;
    box-shadow: inset 2px 2px 6px 0 rgba($shadow, 0.3);

    &:last-of-type {
      margin-bottom: 3rem;
    }

    &:focus {
      box-shadow: inset 0 0 3px 3px rgba($primary-light, 1);
    }
  }

  &--btn {
    background-color: $gray-dark;
    color: $text-light;
    padding: 0.7rem 2rem;
    margin-bottom: 1rem;

    border-radius: 1rem;
    border: none;
    width: fit-content;
    align-self: flex-end;

    box-shadow: 3px 3px 6px 0 rgba($shadow, 0.3);
    transition: 0.3s;

    &:hover {
      background-color: $primary-light;
      color: $text-dark;
      transform: translateY(2px);
    }
  }
}

//
//
//
//
//
// LIGHT MODE
@media (prefers-color-scheme: light) {
  .reg {
    background: url(/img/wave-haikei-large.svg) no-repeat center top fixed;
    background-size: cover;
  }

  .logo-container {
    background-color: $secondary-light;
  }

  .reg-container {
    background-color: $gray-light;
  }

  .reg__section {
    &--header {
      color: $text-light;
    }
  }

  .reg__section--article {
    color: $text-dark;
  }

  .reg-form {
    &--btn {
      background-color: $gray-dark;
      color: $text-light;

      &:hover {
        background-color: $primary-light;
        color: $text-dark;
      }
    }
  }
}

//
//
//
//
//
// DARK MODE
@media (prefers-color-scheme: dark) {
  .reg {
    background: url(/img/wave-haikei-large-dark.svg) no-repeat center top fixed;
    background-size: cover;
  }

  .logo-container {
    background-color: $primary-dark;
  }

  .reg-container {
    background-color: $gray-dark;
    box-shadow: none;
  }

  .reg__section {
    &--header {
      color: $text-dark;
    }
  }

  .reg__section--article {
    color: $text-light;
  }

  .reg__form {
    &--input {
      background-color: $gray-med2;
    }

    &--label {
      color: $text-med;
    }
    &--btn {
      background-color: $secondary-dark;
      color: $text-dark;

      &:hover {
        background-color: $gray-med;
        color: $text-dark;
      }
    }
    &--para {
      margin: 3rem 6rem 0;
      text-align: center;
    }
  }
}
