// Color Pallete
$shadow: #000000;
$white: #fefefe;
$gray-light: #f7f7f7;
$gray-light2: #e7e6e6;
$gray-med: #d8d8d8;
$gray-med2: #c0c0c0;
$gray-dark: #444444;

// Light
$primary-light: #00c3ff;
$secondary-light: #f5f5f5;

// Dark
$primary-dark: #121212;
$secondary-dark: #00c3ff;

// Text
$text-light: #fefefe;
$text-med: #cccccc;
$text-dark: #333333;
