@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  width: 100%;
  height: 100%;
}

.material-icons-round {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.merge {
  font-size: 2.4rem;
}

.loader-container-popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #00c3ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}
.loader-container-popup .load {
  font-size: 4rem;
}
.loader-container-popup .load-left {
  transform: rotate(-90deg);
  animation: loader-left 3s ease-in-out infinite;
}
.loader-container-popup .load-center {
  font-size: 2rem;
  color: #fefefe;
  animation: loader-center 3s ease-in-out infinite;
}
.loader-container-popup .load-right {
  transform: rotate(90deg);
  animation: loader-right 3s ease-in-out infinite;
}

.success-container-popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #00c3ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.success-container-popup .success-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #7dfa7d;
  width: 16rem;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0;
  animation: slide-in 5s;
}
.success-container-popup .success-popup .success-header {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.success-container-popup .success-popup .success-check {
  font-size: 4rem;
  margin: 1rem 0;
}
.success-container-popup .success-popup .success-message {
  font-size: 1.2rem;
  text-align: center;
}

.fail-container-popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #00c3ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}
.fail-container-popup .fail-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #f15c5c;
  width: 16rem;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0;
  animation: slide-in 5s;
}
.fail-container-popup .fail-popup .fail-header {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.fail-container-popup .fail-popup .fail-x {
  font-size: 4rem;
  margin: 1rem 0;
}
.fail-container-popup .fail-popup .fail-message {
  font-size: 1.2rem;
  text-align: center;
}

.popup {
  width: 30rem;
  position: relative;
}
.popup header {
  position: relative;
}
.popup .popup-settings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  z-index: 3;
  cursor: pointer;
}
.popup .popup-settings .options-link {
  text-decoration: none;
  transition: all 0.3s;
}
.popup__header {
  text-align: center;
  padding: 1rem 0;
  font-weight: 600;
  background-color: #f5f5f5;
  box-shadow: 0 -2px 15px 2px rgba(0, 0, 0, 0.3);
  clip-path: inset(0 0 -100px 0);
}
.popup__header .head__span {
  color: #333333;
}
.popup__header .head__span--1 {
  text-transform: uppercase;
  color: #00c3ff;
  font-size: 3rem;
  font-style: oblique;
  letter-spacing: -0.2rem;
}
.popup__header .arrow {
  position: absolute;
  right: 13.9rem;
  color: #333333;
}
.popup__header .arrow__left {
  top: 1rem;
}
.popup__header .arrow__right {
  bottom: 0.5rem;
}
.popup__container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.4rem;
  padding-bottom: 1.4rem;
  justify-content: center;
}
.popup__container--header {
  color: #333333;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  margin-left: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.popup__container--origin {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4rem;
  height: 3rem;
}
.popup__container--short {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  height: 3rem;
}
.popup__url {
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: rgba(254, 254, 254, 0.6);
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  border: 0px;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.popup__url--short {
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #fefefe;
  background-color: rgba(138, 138, 138, 0.8);
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  border: 0px;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.popup__url:focus {
  outline: none;
}
.popup__btn {
  width: 5rem;
  height: 100%;
  margin-left: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: background-color 0.2s;
}
.popup__btn:active {
  box-shadow: none;
  transform: translateY(2px);
}
.popup__btn:not(:last-child) {
  margin-bottom: 2.5rem;
}
.popup__links {
  color: #fefefe;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 0 2rem;
  text-align: center;
}
.popup__links--style {
  text-decoration: underline;
  color: #00c3ff;
  font-weight: 700;
}
.popup__links--style:hover, .popup__links--style:active, .popup__links--style:focus {
  color: #000000;
}

@media (prefers-color-scheme: light) {
  .popup {
    background-image: url(/img/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
  }
  .popup__header {
    background-color: #f5f5f5;
  }
  .popup__header .head__span {
    color: #333333;
  }
  .popup__header .head__span--1 {
    color: #00c3ff;
  }
  .popup__header .arrow {
    color: #333333;
  }
  .popup .popup-settings .options-link {
    color: #333333;
  }
  .popup .popup-settings .options-link:hover {
    color: #00c3ff;
  }
  .popup__container--header {
    color: #333333;
  }
  .popup__url {
    background-color: rgba(254, 254, 254, 0.6);
    box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #d8d8d8;
  }
  .popup__url:focus {
    box-shadow: inset 0 0 2px 3px #00c3ff;
  }
  .popup__btn {
    background-color: #333333;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  }
  .popup__btn p {
    color: #fefefe;
  }
  .popup__btn:hover {
    background-color: #00c3ff;
  }
  .popup__btn--short:hover p, .popup__btn--copy:hover p {
    color: #333333;
  }
  .popup__links {
    color: #333333;
  }
  .popup__links--style {
    color: #333333;
  }
  .popup__links--style:hover, .popup__links--style:active, .popup__links--style:focus {
    color: #00c3ff;
  }
}
@media (prefers-color-scheme: dark) {
  .popup {
    background-image: url(/img/wave-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
  }
  .popup__header {
    background-color: #121212;
  }
  .popup__header .head__span {
    color: #cccccc;
  }
  .popup__header .head__span--1 {
    color: #00c3ff;
  }
  .popup__header .arrow {
    color: #00c3ff;
  }
  .popup .popup-settings .options-link {
    color: #00c3ff;
  }
  .popup .popup-settings .options-link:hover {
    color: #e7e6e6;
  }
  .popup__container--header {
    color: #cccccc;
  }
  .popup__url {
    background-color: rgba(254, 254, 254, 0.6);
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .popup__url:focus {
    box-shadow: 0 0 2px 3px #00c3ff;
  }
  .popup__btn {
    background-color: #00c3ff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.8);
  }
  .popup__btn p {
    color: #fefefe;
  }
  .popup__btn:hover {
    background-color: #e7e6e6;
  }
  .popup__btn--short:hover p, .popup__btn--copy:hover p {
    color: #333333;
  }
  .popup__links {
    color: #fefefe;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0 2rem;
    text-align: center;
  }
  .popup__links--style {
    text-decoration: underline;
    color: #00c3ff;
    font-weight: 700;
  }
  .popup__links--style:hover, .popup__links--style:active, .popup__links--style:focus {
    color: #000000;
  }
}
.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #00c3ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}
.loader-container .load {
  font-size: 4rem;
}
.loader-container .load-left {
  transform: rotate(-90deg);
  animation: loader-left 3s ease-in-out infinite;
}
.loader-container .load-center {
  font-size: 2rem;
  color: #fefefe;
  animation: loader-center 3s ease-in-out infinite;
}
.loader-container .load-right {
  transform: rotate(90deg);
  animation: loader-right 3s ease-in-out infinite;
}

.body-flex {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body-flex .home__footer {
  width: 100%;
  padding: 1.5rem;
  margin-top: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.body-flex .home__footer--link {
  text-transform: uppercase;
  font-style: oblique;
  font-size: 1rem;
}

.back-to-top {
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.3s;
}
.back-to-top:focus, .back-to-top:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.back-to-top .material-icons-round {
  font-size: 2.5rem;
}

.home__header-container {
  width: 100%;
}

.home__header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 15px 2px rgba(0, 0, 0, 0.3);
}
.home__header--logo {
  width: fit-content;
  padding: 1rem;
  position: relative;
  font-weight: 600;
}
.home__header--logo .head__span {
  font-size: 2.5rem;
}
.home__header--logo .head__span--1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-style: oblique;
  letter-spacing: -0.2rem;
}
.home__header--logo .arrow {
  position: absolute;
  right: 10.2rem;
}
.home__header--logo .arrow__left {
  top: 0.7rem;
}
.home__header--logo .arrow__right {
  bottom: 0.2rem;
}

.home {
  margin: 4rem 2rem;
  padding: 2rem 0;
  max-width: 100rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}
.home__welcome-logout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  display: none;
  margin: 0 2rem 2rem;
}
.home__welcome-logout--text {
  font-size: 2rem;
}
.home__welcome-logout .welcome {
  font-weight: 600;
}
.home__welcome-logout--link {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, transform 0s;
}
.home__welcome-logout--link:active, .home__welcome-logout--link:focus {
  transform: translateY(3px);
  box-shadow: none;
}
.home__welcome-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 1rem;
  font-size: 1.4rem;
}
.home__welcome-login label {
  line-height: 3rem;
  margin-right: 1rem;
}
.home__welcome-login--text {
  color: #333333;
}
.home .login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.home .login-form__user, .home .login-form__pass {
  margin-top: 0.3rem;
  margin-right: 2rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.home .login-form__user:focus, .home .login-form__pass:focus {
  box-shadow: inset 0 0 3px 3px #00c3ff;
}
.home .login-form__button {
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, transform 0s;
  cursor: pointer;
}
.home .login-form__button:active {
  transform: translateY(3px);
  box-shadow: none;
}
.home .login-form__p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 2rem 2rem;
}
.home .login-form__register {
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 2px;
  transition: 0.3s;
}
.home .login-form__register:hover {
  font-weight: 600;
}
.home hr {
  height: 2px;
  margin: 0 2rem 2rem;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
}
.home .grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.home__nav {
  height: 100%;
  width: 100%;
  border-right: 2px groove;
  font-size: 1.4rem;
  padding-left: 1px;
}
.home__nav--header {
  padding: 0.6rem 0rem 0.2rem;
  margin: -0.2rem 1rem 0;
  text-align: left;
  font-size: 1.6rem;
  border-bottom: 2px solid;
  font-weight: 700;
}
.home .nav-list {
  margin-top: 1rem;
  overflow: hidden;
  margin-right: 1px;
}
.home .nav-list__item {
  text-decoration: none;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0.5rem 0 0.5rem 0.8rem;
  margin-left: 1px;
  margin-bottom: 2px;
  background-image: linear-gradient(to right, transparent 50%, #00c3ff 50%);
  background-size: 300% 200%;
  background-position: 300% 0%;
  transition: all 0.3s ease-in;
}
.home .nav-list__item:hover, .home .nav-list__item:focus {
  background-position: 251% 0;
}
.home .nav-list__item:hover::after, .home .nav-list__item:focus::after {
  content: "→";
  margin-left: 0.5rem;
}
.home__main-content {
  margin-right: 1rem;
  margin-left: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  line-height: 2rem;
}
.home__main-content--header {
  padding-bottom: 0.2rem;
  margin-right: 40%;
  margin-top: 2px;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.home__main-content--text {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.home .short-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home .short-form label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  font-weight: bold;
  margin-left: 0.8rem;
}
.home .form-icons {
  font-size: 2.3rem;
}
.home .label {
  display: block;
}
.home__short-form--origin-container {
  display: flex;
  margin-bottom: 4rem;
  height: 2.8rem;
}
.home__short-form--origin {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  margin-right: 0.6rem;
  width: 25rem;
  height: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  outline: none;
  box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.home__short-form--origin:focus {
  box-shadow: inset 0px 0 3px 3px #00c3ff;
}
.home__short-form--short-container {
  display: flex;
  height: 2.8rem;
  flex-direction: row;
  border-radius: 1rem;
  animation: pulse 2s infinite ease-in-out;
}
.home__short-form--short {
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-right: 0.6rem;
  width: 25rem;
  height: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  box-shadow: 0 0 0 0 rgba(0, 195, 255, 0);
}
.home__short-form--button {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 4rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, transform 0s;
}
.home__short-form--button:active {
  transform: translateY(2px);
  box-shadow: none;
}

@media (prefers-color-scheme: light) {
  .body-flex {
    background: url(/img/wave-haikei.svg) no-repeat center center fixed;
    background-size: cover;
  }
  .body-flex .home__footer {
    background-color: #f7f7f7;
    color: #00c3ff;
  }
  .body-flex .home__footer--link {
    color: #333333;
  }

  .back-to-top {
    background-color: #00c3ff;
  }
  .back-to-top .material-icons-round {
    color: #fefefe;
  }
  .back-to-top:hover {
    background-color: #444444;
  }
  .back-to-top:hover .material-icons-round {
    color: #fefefe;
  }

  .home__header {
    background-color: #f7f7f7;
  }
  .home__header--logo {
    color: #333333;
  }
  .home__header--logo .head__span--1 {
    color: #00c3ff;
  }
  .home__header--logo .arrow {
    color: #333333;
  }

  .home {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  }
  .home__welcome-logout .welcome {
    color: #00c3ff;
  }
  .home__welcome-logout .welcome--text {
    color: #333333;
  }
  .home__welcome-logout--link {
    color: #fefefe;
    background-color: #444444;
  }
  .home__welcome-logout--link:hover {
    background-color: #00c3ff;
  }
  .home__welcome-logout--link:active, .home__welcome-logout--link:focus {
    background-color: #00c3ff;
  }
  .home .login-form__user, .home .login-form__pass {
    background-color: #e7e6e6;
  }
  .home .login-form__button {
    color: #fefefe;
    background-color: #444444;
  }
  .home .login-form__button:hover {
    background-color: #00c3ff;
  }
  .home .login-form__button:active {
    background-color: #00c3ff;
  }
  .home .login-form__p {
    color: #333333;
  }
  .home .login-form__register {
    color: #333333;
    border-bottom: 2px solid #00c3ff;
  }
  .home .login-form__register:hover {
    color: #00c3ff;
  }
  .home__nav--header {
    color: #333333;
    border-color: #00c3ff;
  }
  .home .nav-list__item {
    color: #333333;
    box-shadow: inset 2px 0 1px 1px #f7f7f7;
    background-image: linear-gradient(to right, transparent 50%, #00c3ff 50%);
  }
  .home .nav-list__item:hover, .home .nav-list__item:focus {
    color: #fefefe;
  }
  .home__main-content--header {
    border-bottom: 2px solid #00c3ff;
    color: #333333;
  }

  .home .label {
    color: #333333;
  }
  .home__short-form--origin {
    background-color: #e7e6e6;
  }
  .home__short-form--short {
    background-color: #c0c0c0;
  }
  .home__short-form--button {
    background-color: #444444;
    color: #fefefe;
  }
  .home__short-form--button:hover {
    background-color: #00c3ff;
    color: #333333;
  }
  .home__short-form--button:active {
    background-color: #00c3ff;
  }
}
@media (prefers-color-scheme: dark) {
  .body-flex {
    background: url(/img/wave-haikei-large-dark.svg) no-repeat center center fixed;
    background-size: cover;
  }
  .body-flex .home__footer {
    background-color: #121212;
    color: #cccccc;
  }
  .body-flex .home__footer--link {
    color: #00c3ff;
  }

  .back-to-top {
    background-color: #00c3ff;
  }
  .back-to-top .material-icons-round {
    color: #fefefe;
  }
  .back-to-top:hover {
    background-color: #c0c0c0;
  }
  .back-to-top:hover .material-icons-round {
    color: #333333;
  }

  .home__header {
    background-color: #121212;
  }
  .home__header--logo {
    color: #cccccc;
  }
  .home__header--logo .head__span--1 {
    color: #00c3ff;
  }
  .home__header--logo .arrow {
    color: #00c3ff;
  }

  .home {
    background-color: #444444;
    box-shadow: none;
  }
  .home__hr {
    border-color: #333333;
  }
  .home__welcome-logout--text {
    color: #cccccc;
  }
  .home__welcome-logout .welcome {
    color: #00c3ff;
  }
  .home__welcome-logout--link {
    color: #333333;
    background-color: #00c3ff;
  }
  .home__welcome-logout--link:hover {
    background-color: #c0c0c0;
  }
  .home__welcome-logout--link:active, .home__welcome-logout--link:focus {
    background-color: #00c3ff;
  }
  .home .login-form label {
    color: #cccccc;
  }
  .home .login-form__user, .home .login-form__pass {
    background-color: #c0c0c0;
  }
  .home .login-form__button {
    color: #333333;
    background-color: #00c3ff;
  }
  .home .login-form__button:hover {
    background-color: #c0c0c0;
  }
  .home .login-form__button:active {
    background-color: #00c3ff;
  }
  .home .login-form__p {
    color: #cccccc;
  }
  .home .login-form__register {
    color: #00c3ff;
    border-bottom: 2px solid #cccccc;
  }
  .home .login-form__register:hover {
    color: #cccccc;
    border-color: #00c3ff;
  }
  .home__nav {
    border-color: #535252;
  }
  .home__nav--header {
    color: #cccccc;
    border-color: #00c3ff;
  }
  .home .nav-list__item {
    color: #cccccc;
    box-shadow: inset 2px 0 1px 1px #444444;
    background-image: linear-gradient(to right, transparent 50%, #00c3ff 50%);
  }
  .home .nav-list__item:hover, .home .nav-list__item:focus {
    color: #fefefe;
  }
  .home__main-content--header {
    color: #cccccc;
    border-bottom: 2px solid #00c3ff;
  }
  .home__main-content--text {
    color: #cccccc;
  }

  .home .label {
    color: #cccccc;
  }
  .home__short-form--origin {
    background-color: #c0c0c0;
    color: #333333;
  }
  .home__short-form--short {
    background-color: #7a7a7a;
    color: #cccccc;
  }
  .home__short-form--button {
    background-color: #00c3ff;
    color: #fefefe;
  }
  .home__short-form--button:hover {
    background-color: #c0c0c0;
    color: #333333;
  }
  .home__short-form--button:active {
    background-color: #00c3ff;
  }
}
.reg {
  background: url(/img/wave-haikei-large.svg) no-repeat center top fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 15px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.reg-container {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  margin: 4rem 2rem;
  padding: 1.5rem 2rem 2rem;
  border-radius: 1rem;
  max-width: 40rem;
}

.reg__section--img-container {
  background: url(/img/header-img.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 3rem;
  filter: drop-shadow(5px 10px 12px rgba(0, 0, 0, 0.3));
}
.reg__section--header {
  color: #fefefe;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  transform: translate(-0.5rem, 0) rotate(2deg);
}

.reg__section--article {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 4rem;
  padding: 0 2rem;
  text-align: center;
}

.reg__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  font-size: 1.3rem;
}
.reg__form--label {
  text-align: left;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.reg__form--input {
  border: none;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  margin-bottom: 2rem;
  outline: none;
  box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.reg__form--input:last-of-type {
  margin-bottom: 3rem;
}
.reg__form--input:focus {
  box-shadow: inset 0 0 3px 3px #00c3ff;
}
.reg__form--btn {
  background-color: #444444;
  color: #fefefe;
  padding: 0.7rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.reg__form--btn:hover {
  background-color: #00c3ff;
  color: #333333;
  transform: translateY(2px);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #00c3ff;
  }
  70% {
    box-shadow: 0 0 0 1.5rem rgba(0, 195, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 195, 255, 0);
  }
}
@keyframes loader-left {
  50% {
    transform: rotate(-90deg) translatey(-2rem);
  }
}
@keyframes loader-right {
  50% {
    transform: rotate(90deg) translatey(-2rem);
  }
}
@keyframes loader-center {
  50% {
    font-size: 3rem;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
  92% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(16rem);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
